.top-display{
    border:solid red;
    gap:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-x: scroll;
    
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 0;
    height: 12vh;
}

.top-card{
    justify-self: center;
    align-self: center;
    border:solid blue;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 1.5fr 1.5fr 0.5fr;
    padding: 10px;
    width:300px;

}
.top-comission-card-price{
    justify-self: center;
    align-self: center;
    font-size: 24px;
}
.top-comission-card-name{
    justify-self: center;
    align-self: center;
    font-size: 12px;
}